* {
    margin: 0px;
    padding: 0px;
}

#navbar {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    background-color: black;
    position: fixed;
    z-index: 1000;
}

#img {
    cursor: pointer;
    width: 80%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: brightness(10);
}

#ennernav {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;

    a {
        text-decoration: none;
        color: white;
        font-size: 18px;
        font-family: sans-serif;
        transition: all 0.2s;
    }

}

#ennernav:hover {
    a:hover {
        color: rgb(180, 178, 178);
    }
}

#section1 {
    background: url("./image/back.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;

    #box{
        width: 50%;
        height: 25%;
        z-index:100;
        position:absolute;
        top:35%;
        left:10%;
    }


    h1{
        font-size: 60px;
        color: #fff;
        line-height: 80px;
        font-weight: 500;
        font-family: MBCorpoATitleCond-Regular;
    }

    h2{
        font-size: 30px;
        color: #fff;
        line-height: 80px;
        font-weight: 500;
        margin-bottom:05%;
        font-family: MBCorpoATitleCond-Regular;
    }

    a{
        text-decoration:none !important;
        background: #000;
        color: #fff;
        border-radius: 07px;
        padding:03%;
        width: 50%;
        font-size:25px;
        font-family: MBCorpoATitleCond-Regular;
        transition:all 0.5s;
    }

    a:hover{
        background-color: white;
        color: black;
    }


}

#section2 {
    width: 100%;
    height: 50vh;
    background-color: white;
    position: relative;
    overflow: hidden;
    margin-top: 0px;

    h2 {
        text-align: center;
        font-size: 40px;
        margin-bottom: 02%;
        padding-top: 03%;
        line-height: 75px;
        color: #000;
        font-family: MBCorpoATitleCond-Regular;
    }

    p {
        text-align: center;
        font-size: 20px;
        line-height: 36px;
        font-weight: 200
    }

    #i1 {
        position: absolute;
        left: -8%;
        height: auto;
        top: -40px;
    }

    #i2 {
        position: absolute;
        right: -8%;
        height: auto;
        top: -40px;
    }

}

#section3 {
    background: url("https://dubai.mercedesbenzplaces.com/assets/img/benzplace/maps.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 90vh;
    cursor:pointer;
}

#section4 {
    width: 100%;
    height: 50vh;
    background-color: white;
    position: relative;
    overflow: hidden;

    h2 {
        text-align: center;
        font-size: 40px;
        margin-bottom: 02%;
        padding-top: 03%;
        line-height: 75px;
        color: #000;
        font-family: MBCorpoATitleCond-Regular;
    }

    p {
        text-align: center;
        font-size: 20px;
        line-height: 36px;
        font-weight: 200
    }

    #i1 {
        position: absolute;
        left: -8%;
        height: auto;
        top: -40px;
    }

    #i2 {
        position: absolute;
        right: -8%;
        height: auto;
        top: -40px;
    }
}

#section5 {

    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;

    .swiper {
        width: 100%;
        height: 75vh;
    }

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

#section6{
    width:100%;
    height:30%;
    display:flex;
    margin-top:1.5%;
    justify-content:center;
    justify-content:space-between;
    cursor:pointer;
    .img-div{
        width: 33%;
        height:100%;
        img{
            height:100%;
            width:99.5%;
            transition: all 0.5s;
        }

        img:hover{
            transform : scale(1.01);
        }
    }
}

#section7 {
    width: 100%;
    height: 50vh;
    background-color: white;
    position: relative;
    overflow: hidden;

    h2 {
        text-align: center;
        font-size: 40px;
        margin-bottom: 02%;
        padding-top: 03%;
        line-height: 75px;
        color: #000;
        font-family: MBCorpoATitleCond-Regular;
    }

    p {
        text-align: center;
        font-size: 20px;
        line-height: 36px;
        font-weight: 200
    }

    #i1 {
        position: absolute;
        left: -8%;
        height: auto;
        top: -40px;
    }

    #i2 {
        position: absolute;
        right: -8%;
        height: auto;
        top: -40px;
    }
}

#section8 {
    width: 100%;
    height: 90vh;
    .swiper-slide{
        width: 100%;
    }

    img{
        display: flex;
        justify-content: center;
        margin-top:03%;
    }
}

#section9 {
    width: 100%;
    height: 100%;
    background-color: black;

    h2 {
        text-align: center;
        font-size: 40px;
        margin-bottom: 02%;
        padding-top: 03%;
        line-height: 75px;
        color: white;
        font-family: MBCorpoATitleCond-Regular;
    }

    #radio {
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        letter-spacing: 1.5px;
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: space-evenly;
        margin-top: 5%;
    }
}

#form{
    display: flex;
          
}

#footer{
    margin-top: 10%;
    margin-bottom: 02%;
    display: flex;
    justify-content: space-around;
}

#reach
{
     height: 30%;
     width: 35%;
     color: white;
     text-align: center;
     font-family: MBCorpoATitleCond-Regular;

     #te{
        cursor: pointer;
     }

     #te:hover{
        
        color: rgb(180, 178, 178);
     }
}

#quick{
    height: 30%;
    width: 35%;
    text-decoration: none !important;
    color: white;
    line-height: 25px;
    text-align: center;
    font-family: MBCorpoATitleCond-Regular;

    a{
        text-decoration: none;
        color: white;
        font-family: MBCorpoATitleCond-Regular;
        font-size: 20px;
        line-height: 35px;
    }

    a:hover{
        
        color: rgb(180, 178, 178);
    }
}

#follow{
    height: 30%;
    width: 35%;
    text-decoration: none !important;
    color: white;
    line-height: 25px;
    text-align: center;
    font-family: MBCorpoATitleCond-Regular;

    i{
        margin-top: 07%;
        margin-left: 05%;
    }

    h3{
        margin-top: 07%;
    }

    #pr{
        cursor: pointer;
    }

    #pr:hover{
        
        color: rgb(180, 178, 178);
    }

    #taaa{
        cursor: pointer;
    }

    #taaa:hover{
        
        color: rgb(180, 178, 178);
    }

    h4{
        margin-top: 07%;
    }

    a{
        color: white;
    }

    a:hover{
        
        color: rgb(180, 178, 178);
    }
}